<!DOCTYPE html>
<html>
<head>
  <title>Placement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login">
<% if current_user %>
    <p class="login-right">Logged in as <b><%= current_user.email %></b>
    <%= link_to "Log out", log_out_path %></p>
 <%# <% else %>
   <%# <%= link_to "Sign up", :controller => "users", :action => "new" %>
  <%#  <%= link_to "log in", log_in_path %>
  <% end %>
  </div>
<%= yield %>



<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

</body>
</html>
